<%- include("partials/header") %>
<div class="container mt-5">
	<div class="card  offset-4 col-4">
		<div class="card-title mt-3 mb-0">
			<h2 class="text-center"><%=user.FirstName%> <%=user.LastName%></h2>
			<p class="time float-right">
				Created: <%= moment(user.createdAt).fromNow() %>
			</p>
		</div>
		<hr>
		<div class="card-body">
			<div class="row form-group">
				<div class="col-12">
					<h4>Comment:</h4>
					<p><%=user.Comment%></p>
				</div>
			</div>
			<div>
				<a class="btn btn-sm btn-info btn-block" href="/users/<%=user.id %>/edit">EDIT</a>
			</div>	
			<div class="mt-2">
				<form  action="/users/<%=user._id%>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger btn-block form-group">
						Delete
					</button>
				</form>	
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>